
version: '3'

services:
  gameserver:
    build:
      context: .
      dockerfile: 'Dockerfile'
    image: golang-gameserver:latest
    container_name: golang-gameserver
    restart: always
    ports:
      - "5000:5000"
    volumes:
      - ./:/go/src
    command: 'CompileDaemon --build="go build" --command=./server'